/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_dark {
  --background-color: #00183F; /*- если фон контента задавать не картинкой*/
  --accent-color: #ff0070;
  --nav-color: var(--accent-color);
  --best-titlt-color: #db00ff;
  --page-color: #f1b2ce;
  --text-accent-color: #000028;
  --title-without-accent-color: var(--accent-color);
  --text-with-accent-color: #000028;
  --background-img: url("../images/cover-image-dark.png");
  --page-padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);  /*10-20*/
  --rec-visibility: visible;
  --button-hover: rgba(255, 0, 112, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #00183F; /*- если фон контента задавать не картинкой*/
    --accent-color: #ff0070;
    --nav-color: var(--accent-color);
    --best-titlt-color: #db00ff;
    --page-color: #f1b2ce;
    --text-accent-color: #000028;
    --title-without-accent-color: var(--accent-color);
    --text-with-accent-color: #000028;
    --background-img: url("../images/cover-image-dark.png");
    --page-padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);  /*10-20*/
    --rec-visibility: visible;
    --button-hover: rgba(255, 0, 112, 0.4);
  }
}
